@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@900&family=Poppins&display=swap');
/* css file  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    padding: 0px;
    
}

.main {
    background-image: url("Assets/hero.jpg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
}

.main .box {
    height: 800px;
    width: 100%;
    opacity: 0.65;
    position: absolute;
    background-color: black;
    top: 0;
}

nav {
    display: flex;
    max-width: 80vw;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin: auto;
}



nav img {
    margin-top: 50px;
    width: 140px;
    position: relative;
    z-index: 10;
}

.top {
    margin-top: 40px;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    position: relative;
    gap: 10px;
    padding: 0px 30px;
}

.hero> :nth-child(1) {
    font-family: 'Martel Sans', sans-serif;
    font-size: 52px;
    font-weight: 900;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 20px;
    text-align: center;

}

.separation {
    height: 8px;
    background-color: #2d2d2d;
    position: relative;
    z-index: 20;
}

.btn {
    margin-top: 30px;
    padding: 7px 15px;
    font-weight: 500;
    border: none;
    color: white;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 0.5px solid rgba(255, 255, 255, 0.3);
}

.red1 {
    background-color: red;
    margin-left: 20px;
}

.red2 {
    background-color: red;
    font-size: 20px;
    padding: 8px 35px;
    font-weight: 600;
}

.main input {
    color: white;
    border-radius: 4px;
    font-size: 15px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    padding: 12px 80px 12px 20px;
    margin-top: 29px;
}

.flex {
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75vw;
    color: white;
    margin: auto;
    padding: 70px 0px;
}



.img1 {
    position: relative;
}

.img1 img {
    width: 550px;
    position: relative;
    z-index: 10;
}

.img1 video {
    width: 485px;
    position: absolute;
    top: 105px;
    right: 0;
}

.box1>div :nth-child(1) {
    font-family: 'Martel Sans', sans-serif;
    font-size: 48px;
    padding-top: 28px ;
}

.box1>div :nth-child(2) {

    font-size: 22px;
}

.heading {
    font-family: 'Martel Sans', sans-serif;
    font-size: 48px;
    text-align: center;
    color: white;
    padding: 34px;
}

.questions {
    transition: all 0.3s ease-in-out;
    font-family: 'Martel Sans', sans-serif;
    color: white;
    display: flex;
    background-color: #2d2d2d;
    max-width: 70vw;
    justify-content: space-between;
    margin: 10px auto;
    padding: 24px;
    font-size: 24px;
    cursor: pointer;
}

.questions:hover {
    background-color: rgb(71, 71, 71);
}

.hero1 {
    /* font-family: 'Poppins', sans-serif; */
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: 40px;
}

.top {
    color: white;
    border-radius: 4px;
    font-size: 15px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    padding: 14px 80px 12px 20px;
    margin-top: 32px;
}

.bot2 {
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 29px;

}

footer {
    color: white;
    max-width: 80vw;
    margin: auto;
    padding: 14px;
    height: 40vh;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ques {
    padding: 27px 0px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
}

.footer a {
    color: white;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



/* Smartphones (max-width: 700px) */
@media (max-width: 700px) {
    *{
        overflow-x: hidden;
    }
    .main {
        height: auto;
        width: auto;
    }

    .main .box {
        height: 410px;
        width: 100%;
        top: 0;
    }

    nav {
        align-items: flex-start;
        padding: 10px;
        margin-bottom: 50px;
    }

    nav img {
        margin: 10px;
        width: 80px;
    }

    .btn {
        margin-top: 5px;
        padding: 3px 7px;
    }

    .red1 {
        background-color: red;
        margin-left: 10px;
    }

    .hero {
        height: auto;
        padding: 20px;
        gap: 5px;
    }

    .hero> :nth-child(1) {
        font-size: 30px;
    }

    .hero> :nth-child(2) {
        font-size: 11px;
        
    }

    .hero> :nth-child(3) {
        font-size: 14px;
    }

    .btn.red2 {
        margin: 30px 0px;
        font-size: 9px;
        padding: 8px 17px;
    }

    .flex input {
        margin: 30px 0px;
        padding: 8px 18px;
        font-size: 9px;
    }

    .box1 {
        flex-direction: column;
        max-width: 90vw;
        margin: auto;
        text-align: center;
    }

    .box1 img,
    .box1 video {
        width: 100%;
    }

    .img1 img {
        width: 400px;
        position: relative;
        z-index: 10;
    }

    .img1 video {
        width: 350px;
        position: absolute;
        top: 75px;
        right: 5px;
    }

    .box1>div :nth-child(1) {
        font-family: 'Martel Sans', sans-serif;
        font-size: 28px;
        padding: 25px 0px;
    }

    .box1>div :nth-child(2) {
        font-size: 14px;
    }

    .info p {
        margin-bottom: 35px;
    }

    .heading {
        font-size: 20px;
    }

    .questions {
        font-size: 15px;
        padding: 17px;
    }

    .hero1 {
        font-size: 15px;
        margin: 80px 40px;

    }

    .footer {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-item {
        margin-bottom: 20px;
    }
}

/* Tablets (min-width: 600px and max-width: 900px) */
@media (min-width: 700px) and (max-width: 1200px) {
    *{
        overflow-x: hidden;
    }
    .main {
        height: auto;
    }
    .main .box {
        height: 510px;
        width: 100%;
        top: 0;
    }

    nav {
        padding:30px;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    nav img {
        width: 120px;
        margin-top: 20px;
    }


    .hero {
        padding: 30px;
        gap: 8px;
    }

    .hero> :nth-child(1) {
        font-size: 36px;
    }

    .hero> :nth-child(2) {
        font-size: 20px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }
    .btn{
        margin-top:10px;
    }

    .btn.red2 {
        font-size: 18px;
        padding: 8px 30px;
        margin: 40px 0px;
    }
    .info p {
        margin-bottom: 70px;
    }

    .main input {
        padding: 12px 60px 12px 20px;
        font-size: 15px;
        margin: 40px 0px;
    }

    .box1 {
        flex-direction: column;
        max-width: 85vw;
        margin: auto;
        text-align: center;
    }
    .box1>div :nth-child(1) {
        font-family: 'Martel Sans', sans-serif;
        font-size: 48px;
        padding: 17px 0px;
    }
/* hello */
    .heading {
        font-size: 40px;
    }

    .questions {
        font-size: 20px;
        padding: 22px;
    }
    
    .hero1 {
        font-size: 20px;
        margin-top: 40px;
    }
    .hero1 p{
        margin-top: 100px;
    }

    .top{
        margin: 40px 0px;
    }

    .footer {
        grid-template-columns: repeat(3, 1fr);
        text-align: left;
    }

    .footer-item {
        margin-bottom: 20px;
    }
}